body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  color: #ddd; /* Lighter text color */
  background: url('images/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px;
}

h1, h2, h3 {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff; /* White headers */
}

header {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 20px 0;
  position: sticky;
  top: 0;
}

header img {
  height: 100px; /* Adjust as needed */
  margin-right: 10px;
}

header nav {
  flex-grow: 1;
}

header nav ul {
  list-style-type: none;
  font-size: 32px;
  display: flex;
  justify-content: space-around;
}

header nav ul li a {
  color: #ddd; /* Lighter link color */
  text-decoration: none;
}

header nav ul li a:hover {
  color: #fff; /* White on hover */
  text-decoration: underline;
}

.main {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ddd;
}

.project {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 20px;
  color: #ddd;
}

.project a {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline-block;
  background-color: #444; /* Darker button color */
  color: #fff; /* White button text */
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.project a:hover {
  background-color: #666; /* Even darker on hover */
}