/* General styling */
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  color: #ddd; /* Lighter text color */
  background: url('images/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  background-color: #141414;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  font-size: large;
  width: 1000px;
  height: 700px;
}

/* Headers */
h1, h2, h3 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff; /* White headers */
  margin-bottom: 20px; /* Add margin between headers */
}

/* Header styling */
header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px 0;
  position: sticky;
  top: 0;
}

header nav {
  flex-grow: 1;
}

header nav ul {
  list-style-type: none;
  font-size: 32px;
  display: flex;
  justify-content: space-around;
}

header nav ul li a {
  color: #fff; /* Change link color to white */
  text-decoration: none;
  margin: 0 100px;
}

header nav ul li a:hover {
  color: #fff; /* White on hover */
  text-decoration: underline;
}

/* Main content */
.main {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ddd;
  max-width: 800px;
  width: 100%;
}

/* Projects */
.project {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 20px;
  color: #ddd;
}

.project a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline-block;
  background-color: #444; /* Darker button color */
  color: white; /* White button text */
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.project a:hover {
  background-color: #666; /* Even darker on hover */
}

/* Link styling */
a {
  color: blueviolet;
}

a:visited {
  color: blueviolet;
}

a:hover {
  color: violet;
}

a:active {
  color: blue;
}
